# Daily-Dose-of-Data-Science

[Daily Dose of Data Science](https://avichawla.substack.com) is a publication on Substack that brings together intriguing frameworks, libraries, technologies, and tips that make the life cycle of a Data Science project effortless. 

Author: Avi Chawla

[Medium](https://medium.com/@avi_chawla) | [LinkedIn](https://www.linkedin.com/in/avi-chawla/)

# Stop Analysing Raw Tables. Use Styling Instead!


Post Link: [Substack](https://avichawla.substack.com/p/stop-analysing-raw-tables-use-styling)

LinkedIn Post: [LinkedIn](https://www.linkedin.com/posts/avi-chawla_python-datasceince-pandas-activity-6998592901383368704-2IXV?utm_source=share&utm_medium=member_desktop)

In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("../_Datasets/DataFrame_Styling_Example.csv")
df.head()

  Currency  Count
0      AED   1132
1      USD    315
2      INR    700
3      EUR    522
4      SGD    261

In [5]:
data.style.bar(color='lightgreen',subset='Count')

In [6]:
data.style.background_gradient(cmap='Blues',subset='Count')